
.TitleBar{
  width: 300px;
}
.titleWrap{
  padding: 0 36px;
  height: 94px;
  line-height: 94px;
  font-size: 26px;

  position: fixed;
  top: 0px;
  left: 0px;
  width: 678px;
  background: white;
  z-index: 1000;


  .location{

  }
  .title{
    text-align: center;
    font-size: 36px;
  }
  .controllBtn{
    text-align: right;
  }




}