.icon-speaker{
  width: 28px;
  height: 25px;
  background: url(../../image/icon/speaker.png) no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 20px 0px 30px;
}
.icon-clock{
  width: 33px;
  height: 33px;
  display: inline-block;
  background: url(../../image/icon/icon_clock.png) no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
}